<main>
<div class="container user-view-size card-block sign-in">

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field md-form">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions text-center">
      <%= f.submit "Resend confirmation instructions", class: "btn-yeahap2" %>
    </div>
  <% end %>

  <div class="modal-footer">
    <div class="options">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
</main>
