<!--Content-->
<div class="container">
  <div class="row">

    <!-- columnns new book -->
    <% if user_signed_in?  %>
      <div class="col-lg-3 col-md-6 book-margin">
        <!--Card-->
        <%= link_to new_my_note_path, class: "new-btn" do %>
          <div class="card-book-new book-size">
            <h4><i class="fa fa-plus-square-o" aria-hidden="true"></i> NEW NOTE </h4>
          </div>
        <% end %>
        <!--/.Card-->
      </div>
      <!-- columnns new book-->
    <% end %>

    <% @my_notes.each do |n| %>
      <div class="col-lg-3 col-md-6 book-margin">
        <!--Card-->
        <%= link_to my_note_path(n) do %>
          <div class="card card-book card-note">

            <!--Card image-->
            <%#= image_tag asset_path("book.png"), class: "book-size", alt: "" %>
            <!--/.Card image-->

            <!--Card content-->
            <div class="note-info note-size">
              <!--Title-->
              <div class="table-cell">
                <h5 class="card-title gray-text"><strong><%= n.title %></strong></h5>
              <!--Text-->
                <%= link_to edit_my_note_path(n) do %>
                  <i class="fa fa-pencil icons"></i>
                <% end %>
                <%= link_to my_note_path(n), method: 'DELETE', data: {confirm: "Are You Sure?"} do %>
                  <i class="fa fa-trash icons"></i>
                <% end %>
              </div>
            </div>
          </div>
          <!--/.Card content-->
        <% end %>

        <!--/.Card-->

      </div>
      <!-- columnns -->
    <% end %>
  </div>
</div>

<!--/.Content-->
