<%= form_for book, class: "form-group" do |f| %>
  <%= f.text_field :title, class: "form-control", placeholder: "title", required: true %>
  <%= f.text_field :writer, class: "form-control", placeholder: "writer", required: true %>
  <%= f.text_field :publisher, class: "form-control", placeholder: "publisher", required: true %>
  <%= f.date_field :published_at, class: "form-control", required: true  %>
  <%= f.text_field :picture, class: "form-control", placeholder: "Book img url" %>
  <br>
  <div class="text-center">
    <%= f.submit "SUBMIT", class: "btn btn-default" %>
    <%= link_to "BACK", books_path, class: "btn btn-primary" %>
  </div>
<% end %>
