<!--
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= form_tag books_path, method: "GET" do %>
        <div class="row">
          <div class="col-6 col-lg-8">
            <%= text_field_tag :title, "", class: "form-control" %>
          </div>
          <div class="col-6 col-lg-4">
            <%= submit_tag "Search", class: "btn btn-primary btn-lg flex-item" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
-->
<div id="banner" class="booklist_banner" >
  <h1>Discover your new favorite book</h1>
</div>

<!--Content-->
<div class="container">
  <div class="row">

    <!-- columnns new book -->
    <% if user_signed_in?  %>
      <div class="col-lg-3 col-md-6 book-margin">
        <!--Card-->
        <%= link_to new_book_path, class: "new-btn" do %>
          <div class="card-book-new book-size">
            <h4><i class="fa fa-plus-square-o" aria-hidden="true"></i> NEW BOOK </h4>
          </div>
        <% end %>
        <!--/.Card-->
      </div>
      <!-- columnns new book-->
    <% end %>

    <% @books.each do |b| %>
      <div class="col-lg-3 col-md-6 book-margin">
        <!--Card-->
        <div class="card card-book">

          <!--Card image-->
          <% if b.picture.nil? %>
            <%= image_tag asset_path("book.png"), class: "book-size", alt: "" %>
          <% else %>
            <%= image_tag b.picture, class: "book-size", alt: "" %>
          <% end %>
          <!--/.Card image-->

          <!--Card content-->
          <div class="book-info book-size">
            <!--Title-->
            <h5 class="card-title light-blue-text"><strong><%= b.title %></strong></h5>
            <br>
            <!--Text-->
            <p class="card-text white-text">Writer : <%= b.writer %></p>
            <p class="card-text white-text">Publihser : <%= b.publisher %></p>
            <p class="card-text white-text">Year : <%= b.published_at.strftime("%Y-%m-%d") %></p>
            <%= link_to exercises_path(id: b.id, chapter: b.exercises.order(:chapter_id).pluck(:chapter_id).uniq[0]), class: "btn btn-default", title: "SOLUTION" do %>
              <i class="fa fa-book"></i>
            <% end %>
            <%= link_to book_path(b, page: b.posts.order(:page).pluck(:page).uniq[0]), class: "btn btn-default", title: "QnA" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->

      </div>
      <!-- columnns -->
    <% end %>
  </div>

  <div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a class="next_page" href="#">Next</a>
  </div>
</div>

<!--/.Content-->
