<header>

</header>
<main>

  <!--Main layout-->
  <div class="container main">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <%= form_tag book_posts_path(@book), method: 'POST', remote: true, class: 'form-group' do %>
          <div class="row">
            <div class="col-4">
              <%= text_field_tag :content, "", class: 'form-control', placeholder: "검색" %>
            </div>
            <div class="col-3">
              <%= number_field_tag :page, "", class: 'form-control', placeholder: "페이지" %>
            </div>
            <div class="col-5">
              <%= submit_tag "검색", class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <!--Main column quotes & opinion-->
      <div class="col-lg-10 offset-lg-1">
        <%= render partial: 'posts/index', locals: { posts: @posts, book: @book } %>
      </div>
      <!--/.Main column-->
    </div>
  </div>
  <!--/.Main layout-->

</main>
