<% exercises.each do |p| %>
  <div class="card post-card">
    <%= link_to post_path(p) do %>
      <div class="card-block">
        <span><%= p.number %>. <%= p.content %></span>
        <div class="etc-post">
        <div class="tooltip user-post">
          <i class="fa fa-user-circle"></i>
          <span class="tooltiptext"><%= p.user.email %></span>
        </div>
        <%= link_to edit_exercise_path(p), class: "edit-post" do %>
          <i class="fa fa-edit" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% end %>
<script>
  $(document).ready(function(){
     hljs.initHighlighting.called = false;
     hljs.initHighlighting();
  });
</script>
