<div id="book_show">
  <div id="show_background"style="background-image:url(<%= @book.picture %>)">
    <div id="show_banner">
      <div class="wrapper_skinny">
        <h1><%= @book.title %> </h1>
        <span class="description"> <%= @book.writer %> | <%= @book.publisher %> | <%= @book.published_at.strftime("%Y-%m-%d") %> </span>
      </div>
    </div>
  </div>
  <main>
  <!--Main layout-->
  <div class="container main">
    <div class="row">
      <% if @chapters.nil? %>
        <div class="col-12 col-lg-10 offset-lg-1 text-center">
          <h5>결과가 없습니다.</h5>
        </div>
      <% else %>
        <div class="col-2 col-lg-1 offset-lg-1 text-center pages">
          <!-- Page Slide -->
          <% @chapters.each do |p| %>
            <% if @chapter.unit.to_i == p.unit.to_i %>
              <%= link_to chapters_path(book: @book, chapter: p), class: "lime-text" do %>
                <h4><b><%= p.print_unit %></b></h4>
              <% end %>
              <br>
            <% else %>
              <%= link_to chapters_path(book: @book, chapter: p), class: "grey-text" do %>
                <h4><b><%= p.print_unit %></b></h4>
              <% end %>
              <br>
            <% end %>
          <% end %>
      </div>
      <div class="col-10 col-lg-9">
        <div class="row">
          <!--Main column quotes & opinion-->
          <div class="col-12">
            <%= render partial: 'index', locals: { exercises: @exercises } %>
          </div>
          <!--/.Main column-->
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--/.Main layout-->
  </div>
  </main>
