<div class="row">
  <div class="quote-new">
    <%= link_to "+ New Post", new_post_path %>
  </div>
</div>
<br>
<% posts.each do |p| %>
  <div class="card">
    <div class="card-block">
      <span class="grey-text"><i class="fa fa-user-circle"></i> &nbsp; <%= p.user.email %></span> &nbsp;&nbsp;
      <br><br>
      <span class="light-blue-text"><i class="fa fa-book"></i> &nbsp; <%= p.page %></span> &nbsp;&nbsp;
      <span class="light-blue-text"><i class="fa fa-comments-o"></i> &nbsp; <%= p.replies.count %></span>
      <br><br>
      <%= simple_format(p.content) %>
    </div>
  </div>
  <%= render partial: 'replies/index', locals: { replies: p.replies } %>
<% end %>
