<main>
  <div class="container main">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <%= @post.content.html_safe %>
        <br><hr>
        <div class="etc-post">
          <%= render partial: 'posts/like_sum', locals: { post: @post }, remote: true%>
        </div>
        <div class="etc-post etc-right">
          <% if @post.user_id == current_user.id %>
            <%= link_to post_path(@post, page: params[:page]), method: "DELETE", class: "delete-post", data: { confirm: "정말 삭제하겠습니까?" } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
            <%= link_to edit_post_path(@post, page: params[:page]), class: "edit-post" do %>
               <i class="fa fa-edit" aria-hidden="true"></i> <% end %> <% end %> <%= link_to post_replies_path(@post.id), class: "index-reply", remote: true do %> <i class="fa fa-comments-o"></i> <%= @post.replies.count %> <% end %>
          &nbsp;
          <%= link_to new_post_reply_path(@post.id), class: "new-reply", remote: true do %>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          <% end %>
          &nbsp;
          <span id="like">
            <% if Like.where(post_id: @post.id, user_id: current_user.id).empty?  %>
              <%= link_to like_post_path(id: @post.id), method: "post", class: "new-reply", remote: true do %>
                내노트에 추가 +
              <% end %>
            <% else %>
              <%= link_to like_post_path(id: @post.id), method: "post", class: "new-reply", remote: true do %>
                내노트에서 제거 -
              <% end %>
            <% end %>
          </span>
          &nbsp;

          <div class="tooltip user-post">
            <i class="fa fa-user-circle"></i>
            <span class="tooltiptext"><%= @post.user.email %></span>
          </div>
        </div>
        <!-- reply/new -->
        <br>
        <div id="post_<%= @post.id %>_new">
        </div>
        <br>
        <div id="post_<%= @post.id %>">
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function(){
    hljs.initHighlighting.called = false;
    hljs.initHighlighting();
  });
</script>
