<div id="book_show">
  <div id="show_background"style="background-image:url(<%= @book.picture %>)">
    <div id="show_banner">
      <div class="wrapper_skinny">
        <h1><%= @book.title %> </h1>
        <span class="description"> <%= @book.writer %> | <%= @book.publisher %> | <%= @book.published_at.strftime("%Y-%m-%d") %> </span>
      </div>
    </div>
  </div>
  <div id="breadcrumb">
    <h5>
      <%= link_to "+ New Post", new_book_post_path(@book, page: params[:page]) %>
    </h5>
  </div>
  <main>
  <!--Main layout-->
    <div class="container main">
      <div class="row">
        <% if @exercises.empty? %>
          <div class="col-12 col-lg-10 offset-lg-1 text-center">
            <h5>결과가 없습니다.</h5>
          </div>
        <% else %>
          <div class="col-2 col-lg-1 offset-lg-1 text-center pages">
            <!-- Page Slide -->
            <% @pages.each do |p| %>
              <% if params[:page].to_i == p %>
                <%= link_to book_path(@book, page: p), class: "lime-text" do %>
                  <h4><b><%= p %></b></h4>
                <% end %>
                <br>
              <% else %>
                <%= link_to p, book_path(@book, page: p), class: "grey-text" %><br><br>
              <% end %>
            <% end %>
          </div>
          <div class="col-10 col-lg-9">
            <div class="row">
              <!--Main column quotes & opinion-->
              <div class="col-12">
                <%= render partial: 'posts/index', locals: { posts: @posts, book: @book } %>
              </div>
              <!--/.Main column-->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <!--/.Main layout-->
  </div>
</main>
