<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Americano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  </head>

  <body>
    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
          <strong>Americano</strong>
        </a>
        <div class="collapse navbar-collapse text-right" id="navbarNav1">
          <!-- Nav Menu -->
          <!--
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">About</a>
            </li>
          </ul>
          -->
          <% if user_signed_in? %>
            <span class="navbar-brand email"><%= current_user.email %></span>
            <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "btn btn-default btn-sm flex-item" %>
          <% else %>
            <%= form_for(resource, url: session_path(resource_name), html: {class: "form-login form-inline waves-effect waves-light"}) do |f| %>
              <%= f.text_field :email, class: "form-control", placeholder: "EMAIL" %>
              <%= f.password_field :password, class: "form-control", placeholder: "PASSWORD" %>
              <%= f.submit "Login", class: "btn btn-primary btn-sm flex-item" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
    <!--/.Navbar-->

    <%= yield %>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-12 col-md-3 text-center">
                  <p>Agreement</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-12 col-md-3 text-center">
                  <p>Policy</p>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-12 col-md-3 text-center">
                  <p>Advertisement</p>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-12 col-md-3 text-center">
                  <p>Feedback</p>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
          <div class="container-fluid">
            © 2017 Copyright : <a href="http://americano.com"> Americano.com </a>
          </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

  </body>
</html>
