<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Americano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  </head>

  <body>
    <!--Navbar show page-->
    <header id="main_header" class="cf">
      <div class="wrapper_wide">
        <%= link_to "Americano", books_path, id: "logo" %>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
              <li>
                  <%= link_to "My Note", my_notes_path %>
              </li>
              <li>
                <%= link_to "Sign out", destroy_user_session_path, method: "delete"  %>
              </li>
            <% else %>
              <li><%= link_to "Sign In / Sign Up", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  <!--/.Navbar-->
    <%= yield %>

  </body>
</html>
