<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Americano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-6 col-sm-3">
            <%= link_to "Americano", root_path, class: "logo" %>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="menu">
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="#banner">Home</a></li>
                      <li><a href="#service">Service</a></li>
                      <li><a href="#feature">Feature</a></li>
                      <li><a href="#utility">Utility</a></li>
                      <li><a href="#subscribe">Subscribe</a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container main">
      <%= yield %>
    </div>

    <footer class="wow fadeInUp" data-wow-delay=".8s">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright © 2014 Themefisher. All rights reserved. Designed & developed by themefisher.com</p>
          </div>
        </div>
      </div>
    </footer>


  </body>
</html>
