<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Yeahap!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  </head>

  <body>
    <!--Navbar show page-->
    <header id="main_header" class="cf">
      <div class="wrapper_wide">
        <%= link_to root_path do %>
          <%= image_tag asset_path("yeahap.png"), style: "height:25px" %>
        <% end %>
        <div id="main_flash_message" class="badge badge-primary">
          message
        </div>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <% unless params[:controller] == "my_pages" %>
                <li class="tooltip-menu">
                  <%= link_to new_yeahapbox_path, remote: true do %>
                    <i class="fa fa-inbox"  data-toggle="modal" data-target="#modal" aria-hidden="true"></i>
                  <% end %>
                  <span class="tooltiptext-menu tooltiptext1">new box</span>
                </li>
                <li class="tooltip-menu">
                  <%= link_to my_pages_path do %>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                  <% end %>
                  <span class="tooltiptext-menu tooltiptext2">profile</span>
                </li>
              <% end %>
              <li class="tooltip-menu">
                <%= link_to destroy_user_session_path, method: "delete" do  %>
                  <i class="fa fa-power-off" aria-hidden="true"></i>
                <% end %>
                <span class="tooltiptext-menu tooltiptext3">log out</span>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_session_path do %>
                  <i class="fa fa-power-off" aria-hidden="true"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <!--/.Navbar-->

  <%= yield %>

  </body>
</html>
